{% extends 'base.html.twig' %}

{% block title %}Cart!{% endblock %}

{% block body %}
    <h2>{{ 'Shopping Cart'|trans }}</h2>

    <div class="col-md-6 float-md-right text-sm-right">
        {{ form_start(clearForm) }}
        {{ form_widget(clearForm.id) }}
        {{ form_widget(clearForm.submit) }}
        {{ form_end(clearForm) }}
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'Product'|trans }}</th>
            <th>{{ 'Price'|trans }}</th>
            <th>{{ 'Quantity'|trans }}</th>
            <th>{{ 'Together'|trans }}</th>
            <th>{{ 'Delete'|trans }}</th>
        </tr>
        </thead>
        {#                    <tbody>#}
        {#                    {% for item in order.items %}#}
        {#                        <tr>#}
        {#                            <td>{{ item.product.name }}</td>#}
        {#                            <td>{{ item.product.price }}</td>#}
        {#                            <td class="text-sm-center">#}
        {#                                {{ render(controller('App\\Controller\\Shop\\CartController::setItemQuantityForm', {'id' : item.id})) }}#}
        {#                            </td>#}
        {#                            <td>#}
        {#                                {{ item.priceTotal|number_format(2, ',', ' ') }} zł#}
        {#                            </td>#}
        {#                            <td>#}
        {#                                {{ render(controller('App\\Controller\\Shop\\CartController::removeItemForm', {'id' : item.id})) }}#}
        {#                            </td>#}
        {#                        </tr>#}
        {#                    {% endfor %}#}
        {#                    </tbody>#}
    </table>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>
                {{ 'Payment'|trans }}
            </td>
            {#                        <td>#}
            {#                            {{ form_start(setPaymentForm) }}#}
            {#                            <div class="row">#}
            {#                                <div class="col">#}
            {#                                    {{ form_widget(setPaymentForm.id) }}#}
            {#                                    {{ form_widget(setPaymentForm.payment) }}#}
            {#                                </div>#}
            {#                                <div class="col">#}
            {#                                    {{ form_widget(setPaymentForm.submit) }}#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            {{ form_end(setPaymentForm) }}#}
            {#                        </td>#}
        </tr>
        <tr>
            <td>
                {{ 'Shipment'|trans }}
            </td>
            {#                        <td>#}
            {#                            {{ form_start(setShipmentForm) }}#}
            {#                            <div class="row">#}
            {#                                <div class="col">#}
            {#                                    {{ form_widget(setShipmentForm.id) }}#}
            {#                                    {{ form_widget(setShipmentForm.shipment) }}#}
            {#                                </div>#}
            {#                                <div class="col">#}
            {#                                    {{ form_widget(setShipmentForm.submit) }}#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            {{ form_end(setShipmentForm) }}#}
            {#                        </td>#}
        </tr>
        <tr class="bg-info">
            <td>
                {{ 'Total Price'|trans }}
            </td>
            {#                        <td>#}
            {#                            {{ order.summary.priceTotal|number_format(2, ',', ' ') }} {{ 'app.default.currencyDescription'|trans }}#}
            {#                        </td>#}
        </tr>
        </tbody>
    </table>
{% endblock %}
